.compact-modal {
  width: min(377px, calc(100vw - 24px));
  height: 237px;

  padding: 24px 32px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;

  overflow: hidden;

  border-radius: 20px;

  background: #ffffff;
}